/* Azzeratore margini e padding */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------------- Utility CSS ---------------*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

#page_container{
    width: 80%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.testo_grigio{
    color: grey;
}

/*--------------- /Utility CSS ---------------*/

/* ---------------   Header CSS ---------------*/

#site_header{
    margin-bottom: 1rem;
}

.page_logo{
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1rem;
}

header > div.page_logo > img{
    height: 80px;
}

a{
    text-decoration: none;
    color: grey;

}

div.navigation_voice > ul > li{
    display: inline;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase; 
    margin-right: 10px; 
}


/* --------------- /Header CSS ---------------*/

/* --------------- Main CSS --------------- */
 /* Foto principale con titolo */

.container_foto{
    margin-top: 2rem;
    width: 100%;
    height: 500px;
    position: relative;
}
.big_photo{
    background-image: url(../img/banner.jpg);
    background-position: center;
    border-radius: 15px;
    height: 500px;
    width: 100%;
}

.foto_grigia{
    position: absolute;
    border-radius: 10px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.banner_description{
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 50%;
    color: rgba(255, 255, 255, 0.7);
}

 /* /Foto principale con titolo */

 /* Sezione con il contenuto della pagina */

.title_content{
    width: 100%;
    padding: 0 0 2rem;
    margin-top: 2rem;
}

h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.container_content{
    width: 100%;
}

.sidebar_left, .sidebar_right{
    width: 20%;
    float: left;
    position: relative;
}

.content{
    width: 56%;
    margin: 0 2%;
    float: left;
    position: relative;
}

.img_left{
    height: 200px;
    background-image: url(../img/img-1.jpg);
    background-position: center;
    background-size: 105%;
}

.img_central{
    height: 200px;
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    background-size: 95%;
}

.img_right{
    height: 200px;
    background-image: url(../img/img-3.jpg);
    background-position: center;
}

.img_left, .img_right, .img_central, .sfondo_grigio{
    border-radius: 10px;
}

.sfondo_grigio{
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.3);
}

.description_img{
    margin-top: 1rem;
}

div.description_img > h4{
    margin-bottom: 0.5rem;
}

 /* Sezione con il contenuto della pagina */


/* --------------- /Main CSS --------------- */

/* --------------- Footer CSS ---------------*/

#site_footer{
    height: 100px;
    padding-top: 3rem;
    text-align: center;
}
/*--------------- /Footer CSS ---------------*/





