/* Azzeratore margini e padding */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utility CSS*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

#page_container{
    /* background-color: lightcoral; */
    width: 80%;
    margin: auto;
}

/* /Utility CSS*/


/* Header CSS */
#site_header{
    height: 100px;
    margin-bottom: 1rem;
}

.page_logo{
    background-repeat: no-repeat;
    background-size: contain;
}

header > div.page_logo > img{
    height: 80px;
}

a{
    text-decoration: none;
    color: grey;

}

div.navigation_voice > ul > li{
    display: inline;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase; 
    margin-right: 10px; 
}
/* /Header CSS */

/* Main CSS */

.big_photo{
    background-image: url(../img/banner.jpg);
    background-position: center;
    border-radius: 15px;
    margin: 2rem 0;
    height: 500px;
    width: 100%;
    position: relative;
}






.title_content{
    width: 100%;
    padding: 0 0 2rem;
}

h1{
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container_content{
    width: 100%;
}
.sidebar_left, .sidebar_right{
    width: 20%;
    float: left;
}

.content{
    width: 56%;
    margin: 0 2%;
    float: left;
}

.img_left{
    height: 200px;
    background-color: grey;
    background-image: url(../img/img-1.jpg);
    background-position: center;
    background-size: 105%;
}


.img_central{
    background-color: seagreen;
    height: 200px;
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    background-size: 95%;

    
}
.img_right{
    background-color: steelblue;
    height: 200px;
    background-image: url(../img/img-3.jpg);
    background-position: center;

}


.img_left, .img_right, .img_central{
    /* background-color: orange; */
    /* height: 200px; */
    border-radius: 10px;
    border: 1px solid black;
}


.description_img{
    margin-top: 1rem;
}

div.description_img > h4{
    margin-bottom: 0.5rem;
}

/* /Main CSS */

/* Footer CSS */

#site_footer{
    height: 100px;
    padding-top: 2rem;
    text-align: center;
}
/* /Footer CSS */





